.red{
	border: solid 1px red;
}

.green{
	border: solid 1px green;
}

.yellow{
	border: solid 1px yellow;
}

.text-cl-white{
	color: white!important;
}

.text-cl-black{
	color: #333!important;
}

.text-cl-red{
	color: #ad171c!important;
}

.bg-red-theme{
	background-color: #ad171c!important;
}
.bg-gray-theme{
	background-color: #fcfcfc;
}

.hover-opacity:hover{
	opacity: 0.8;
}

.hover-cursor-pointer:hover{
	cursor: pointer;
}
